
.sidebar {
    width: 150px;
    height: 100vh;
    background: #484bb3;
    position: fixed;
    z-index: 5;
    color: white;
    transition: all 0.5s;
    transform: translateX(-100px);
}

.sidebar:hover {
    transform: translateX(0px);
}

.sidebar i {
    transition: all 0.6s;
    transform: translateX(100px);
}

.sidebar:hover i {
    transform: translateX(0px);
}

.sidebar div {
    margin: 20px 0px 0px 15px;
}

.content {
    margin-left: 50px;
}

.black-bg {
    background-color: black;
    color: white;
}

.input-animation {
    width: 150px;
    transition: width 1s;
}

.input-animation:focus {
    width: 500px;
}

input::-webkit-input-placeholder {
    padding-left: 5px;
}

input {
    outline: none;
}

@mixin card-deco($color) {
    border-left: 4px solid $color;
    border-radius: 5px;
    box-shadow: 0px 0px 7px lightgray;
}

.card-blue {
    @include card-deco(skyblue);
}

.card-green {
    @include card-deco(lightgreen);
}

.card-purple {
    @include card-deco(purple);
}

.card-yellow {
    @include card-deco(yellow);
}

